In [1]:
import pandas as pd

# Load dataframes

In [2]:
# Load dataframes

# streaming_titles_info
streaming_titles_info = pd.read_csv(r"C:\Users\kimbe\Documents\StreamingAnalysis\data\cleaned_data\streaming_titles_info.csv")

# imdb_catalog_complete
imdb_catalog_complete = pd.read_csv(r"C:\Users\kimbe\Documents\StreamingAnalysis\data\cleaned_data\imdb_catalog_complete.csv")

# cancellation_rates
cancellation_rates = pd.read_csv(r"C:\Users\kimbe\Documents\StreamingAnalysis\data\cleaned_data\cancellation_rates.csv")

# streaming_costs
streaming_costs = pd.read_csv(r"C:\Users\kimbe\Documents\StreamingAnalysis\data\cleaned_data\streaming_costs.csv")

In [3]:
streaming_titles_info.head()

,imdbId,title,releaseYear,type,averageRating,numVotes,Amazon,Hulu,Netflix,HBO,...,Music,Mystery,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
0,tt0000417,A Trip to the Moon,1902,movie,8.1,57373,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,tt0000499,An Impossible Voyage,1904,movie,7.5,4153,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,tt0002646,Atlantis,1913,movie,6.5,502,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,tt0003014,Ingeborg Holm,1913,movie,7.0,1479,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,tt0004181,Judith of Bethulia,1914,movie,6.2,1482,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
imdb_catalog_complete.head()

      imdbId                    genres  averageRating  numVotes
0  tt0000001         Documentary,Short            5.7      2106
1  tt0000002           Animation,Short            5.6       283
2  tt0000003  Animation,Comedy,Romance            6.5      2128
3  tt0000004           Animation,Short            5.4       182
4  tt0000005              Comedy,Short            6.2      2859

In [5]:
cancellation_rates.head()

     Platform  Cancellation_Rate_Percentage
0         Max                          26.9
1   Broadcast                          26.6
2      Disney                          21.1
3  Paramount+                          16.9
4        Hulu                          15.2

In [6]:
streaming_costs.head()

       Platform  Price_Per_Month
0       Netflix            15.49
1          Hulu            17.99
2  Amazon Prime            14.97
3      Apple TV             9.99
4           Max            16.99

# Analyze Content Availability

Done: Calculate the total number of titles available in the U.S. for each platform.

## Create a breakdown of content types (movies vs. TV series).

Per platform (ratings not considered)

In [18]:
# Create a new column 'content_type' to indicate whether it's a movie or TV series
platform_data = streaming_titles_info.melt(id_vars=['type'], value_vars=['Amazon', 'Hulu', 'Netflix', 'HBO'], 
                                           var_name='platform', value_name='available')

# Filter only available titles (where available == 1)
platform_data = platform_data[platform_data['available'] == 1]

# Group by platform and content type (movie vs tv) to count the number of movies and tv series per platform
platform_content_type_counts = platform_data.groupby(['platform', 'type']).size().unstack(fill_value=0)

# Calculate percentages
platform_content_type_percentage = platform_content_type_counts.div(platform_content_type_counts.sum(axis=1), axis=0) * 100

# Reset index to flatten the DataFrame for better visualization
platform_content_type_percentage = platform_content_type_percentage.reset_index()

# Display the reshaped DataFrame
print(platform_content_type_percentage)

type platform      movie         tv
0      Amazon  88.660482  11.339518
1         HBO  73.331356  26.668644
2        Hulu  63.146974  36.853026
3     Netflix  78.038755  21.961245

In [21]:
# Filter titles with an average rating of 7.5 or above
high_rated_titles = streaming_titles_info[streaming_titles_info['averageRating'] >= 7.5]

# Group by platform and content type (movie or tv) for high-rated titles
high_rated_platform_content_type_counts = high_rated_titles.groupby(['Amazon', 'Hulu', 'Netflix', 'HBO', 'type']).size().unstack(fill_value=0)

# Calculate the percentage of high-rated movies and TV series for each platform
high_rated_platform_content_type_percentage = high_rated_platform_content_type_counts.div(high_rated_platform_content_type_counts.sum(axis=1), axis=0) * 100

# Reset index for a cleaner output
high_rated_platform_content_type_percentage = high_rated_platform_content_type_percentage.reset_index()

# Display the result
high_rated_platform_content_type_percentage

type  Amazon  Hulu  Netflix  HBO      movie         tv
0          0     0        0    0  44.121287  55.878713
1          0     0        0    1  39.438339  60.561661
2          0     0        1    0  43.686584  56.313416
3          0     0        1    1  61.224490  38.775510
4          0     1        0    0  27.524205  72.475795
5          0     1        0    1  38.636364  61.363636
6          0     1        1    0  22.500000  77.500000
7          0     1        1    1  50.000000  50.000000
8          1     0        0    0  67.421574  32.578426
9          1     0        0    1  75.536481  24.463519
10         1     0        1    0  62.004175  37.995825
11         1     0        1    1  80.769231  19.230769
12         1     1        0    0  37.536657  62.463343
13         1     1        0    1  51.785714  48.214286
14         1     1        1    0  28.915663  71.084337
15         1     1        1    1  83.471074  16.528926